@import "tailwindcss";

/* Definición de la animación */
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Clase reutilizable para Sidebar y Header */
.bg-gradient-aflp {
  background: linear-gradient(-45deg, #1a2c4e, #1e3a8a, #1e5adc, #1a2c4e);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #ffffff; /* Fondo de la página blanco */
  color: #1a2c4e;
}

/* Forzar que el contenedor de los módulos sea blanco */
[data-slot="sidebar-inset"] {
  background-color: #ffffff !important;
}